{# src/ESIEA/PlatformBundle/Resources/views/Advert/edit.html.twig #}

<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  


      <title>{% block title %}ESIEA Plateforme{% endblock %}</title>
 
     
      <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
             <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
            </button>
            

                <h2>ESIE_<font color="#598bdb">EATS</font></h2>

               
            </div>



            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>

                    <li>
                        <a class="page-scroll" href="{{ path('esiea_platform_home') }}">Home</a>
                    </li>
                    <li> <a  href="{{ path('esiea_platform_add') }}">
                     <span class="page-scroll">Publier</span> une recette
                                    </a></li>
                   
                    <li>
                        <a class="page-scroll" href="#about">À propos</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#recette">Recettes</a>
                    </li>
                     <li>
                        <a class="page-scroll" href="{{ path('esiea_platform_faq') }}">FAQ</a>
                    </li>

                    <li>
                        <a class="page-scroll" 
                        href="#contact"

                        >Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
     


     {% block stylesheets %}
      {# On charge le CSS de bootstrap depuis le site directement #}
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" >

      <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">


      {% stylesheets filter="cssrewrite, ?scssphp"
      'bundles/esieaplatform/css/demo.css'
      %}
      <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
      <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      {% endstylesheets %}
      {% endblock %}
   </head>

{% block esieaplatform_body %}

  


<section id="edit" class="container content-section text-center" >

<h3>Modifier votre recette</h3>
  {{ include("ESIEAPlatformBundle:Advert:form.html.twig") }}
</section>

  <p>
    <a href="{{ path('esiea_platform_view', {'id': advert.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à votre recette
    </a>
  </p>

{% endblock %}