{# app/Resources/views/header.html.twig #}
<!-- Core -->
{% spaceless %}
<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{% block title %}ESIEA Plateforme{% endblock %}</title>
      {# CSS ici #}
      {% block stylesheets %}
      {# On charge le CSS de bootstrap depuis le site directement #}
      {% stylesheets filter="cssrewrite, ?scssphp"
      'bundles/esieaplatform/css/demo.css'
      %}
      <link rel="shortcut icon" href="http://www.cre8d-design.com/clean-food-theme/demo/wp-content/uploads/2016/05/cropped-clean-food-favicon.png">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
      {% endstylesheets %}
      {% endblock %}
      <title>{{ PAGE_TITLE|default('Welcome') }} - ESIE_Eats</title>
      <meta name="robots" content="noindex">
   </head>
   <body>
      <header>
         {# MENU etc. #}
         <!-- Navigation -->
        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
             <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
            </button>
            <br></br>
                  <h2>ESIE_<span class="blue">EATS</span></font></h2>
               </div>
               <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                  <br></br>
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a href="{{ path('esiea_platform_home') }}">Home</a>
                    </li>
                    <li> <a href="{{ path('esiea_platform_add') }}"><span>Publier</span> une recette</a></li>
                    <li>
                        <a href="{{ path('esiea_platform_home') }}">À propos</a>
                    </li>
                    <li>
                        <a href="{{ path('esiea_platform_home') }}">Recettes</a>
                    </li>
                     <li>
                        <a href="{{ path('esiea_platform_faq') }}">FAQ</a>
                    </li>

                    <li>
                        <a href="{{ path('esiea_platform_home') }}" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
      </header>
      
         {% block PAGE_BODY '' %}
             {% block body %}
         <main>
       
         </main>
             {% endblock %}
      <footer>
         {# FOOTER etc. #}
         <p style="text-align:center"><font size ="2"> Daniel POINSIGNON & Cannelle TEISSIER © {{ 'now'|date('Y') }} for ESIEA - Manger, bouger.</font></p>
      </footer>
      {# JS ici #}
      {% javascripts 
      '@ESIEAPlatformBundle/Resources/public/js/demo.js'
        %}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>  
      <script src="{{ asset_url }}"></script>
   {% endjavascripts %}
   </body>
</html>
{% endspaceless %}