{% extends "ESIEAPlatformBundle::layout.html.twig" %}
{% set page = 'home' %}

{% block PAGE_BODY %}        
      <!-- Bol de nouille -->
         <section id="intro" class="container content-section text-center">
             <div class="intro-body"   >
                     <div class="container">
                        <div class="row">
                           <div class="col-md-8 col-md-offset-2">
                              <img src="https://maxcdn.icons8.com/Color/PNG/512/Food/rice_bowl-512.png" alt="Mountain View" style="width:304px;height:228px;">
                              <h2>ESI<span class="blue">EA EATS</span></font></h2>
                              <p >
                                 <h4>La cuisine en toute simplicité.</h4>
                                 <br>Stay tuned for more information!</br>
                              </p>
                           </div>
                        </div>
                     </div>
               </div>
         </section>

     <!-- About Section -->
        <section id="about" class="container content-section text-center">

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>À propos d'ESI<span class="blue">EA EATS</span></h2>
                    <p>Nous travaillons avec plusieurs centaines de d'internautes pour vous proposer les meilleurs plats.  Vos cuisiniers préférés cuisinent vos  
                    <a href="#recette">recettes</a> préférés. 
                    <p>Une fois sélectionnée, faites vous livrer vos plats préférés ! </p>

                    <h3>Vous êtes cuisinier ?</h4>
                    <p>Proposez vos recettes inédites dans la section recette et commencez à gagner de l'argent si on les commandes.
                    </p>
                </div>
            </div>
        </section>

      <!--Just delete menu side bar -->
        <section id="recette" class="container content-section text-center">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Dernières recettes</h2>
                       {% for advert in listAdverts %}
                        <p>
                           <a href="{{ path('esiea_platform_view', {'id': advert.id}) }}" style="text-align:center">
                              {{ advert.title }}
                           </a>
                           par {{ advert.author }},
                           le {{ advert.date|date('d/m/Y') }}
                        </p>
                       {% else %}
                           <p>Pas (encore !) d'annonces</p>
                       {% endfor %}
                    <!-- Pagination -->
                    <ul class="pagination">
                        {% for p in range(1, nbPages) %}
                           <li {{ p == page ? 'class="active"' : '' }}>
                              <a href="{{ path('esiea_platform_home', {'page': p}) }}">
                                 {{ p }}
                              </a>
                           </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
        
        <!-- Contact Section -->
        <section id="contact" class="container content-section text-center">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Contactez-nous</h2>
                    <p>Vous êtes libre de nous envoyer un email et nous faire part de vos suggestions, ou juste pour faire un coucou !</p>
                    <p>
                        <a href="daniel.poinsignon@et.esiea.fr">daniel.poinsignon@et.esiea.fr</a>
                    </p>
                    <p>
                        <a href="teissier@et.esiea.fr">teissier@et.esiea.fr</a>
                    </p>
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://github.com/CTeissier/FSI2-Poinsignon-Teissier" class="btn btn-default btn-lg"><span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="https://www.esiea.fr/" class="btn btn-default btn-lg"> <span class="network-name">ESIEA</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        </div>

{% endblock %}