{# src/ESIEA/CoreBundle/Resources/views/layout.html.twig #}
<!-- Core -->
{% spaceless %}
<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{% block title %}ESIEA Plateforme{% endblock %}</title>
      {# CSS ici #}
      {% block stylesheets %}
      {# On charge le CSS de bootstrap depuis le site directement #}
      {% stylesheets filter="cssrewrite, ?scssphp"
      'bundles/esieaplatform/css/demo.css'
      %}
      <link rel="shortcut icon" href="http://www.cre8d-design.com/clean-food-theme/demo/wp-content/uploads/2016/05/cropped-clean-food-favicon.png">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" >
      <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
      <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      {% endstylesheets %}
      {% endblock %}
      <title>{{ PAGE_TITLE|default('Welcome') }} - Esie Eats</title>
      <meta name="robots" content="noindex">
   </head>
   <body>
      <header>
         {# MENU etc. #}
         <!-- Navigation -->
         <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
            <div class="container">
               <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                  Menu <i class="fa fa-bars"></i>
                  </button>
                  <h2>ESIE_<font color="#598bdb">EATS</font></h2>
               </div>
               <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                  <ul class="nav navbar-nav">
                     <li class="hidden">
                        <a href="#page-top"></a>
                     </li>
                     <li>
                        <a class="page-scroll" href="{{ path('esiea_platform_home') }}">Home</a>
                     </li>
                     <li> <a  href="{{ path('esiea_platform_add') }}">
                        <span class="page-scroll">Publier</span> une recette
                        </a>
                     </li>
                     <li>
                        <a class="page-scroll" href="#about">À propos</a>
                     </li>
                     <li>
                        <a class="page-scroll" href="#recette">Recettes</a>
                     </li>
                     <li>
                        <a class="page-scroll" href="{{ path('esiea_platform_faq') }}">FAQ</a>
                     </li>
                     <li>
                        <a class="page-scroll" 
                           href="#contact"
                           >Contact</a>
                     </li>
                  </ul>
               </div>
            </div>
         </nav>
      </header>
      <main>
         {% block PAGE_BODY '' %}
         <!-- Intro Header -->
         <header class="intro">
            <div class="intro-body"   >
               <div class="container">
                  <div class="row">
                     <div class="col-md-8 col-md-offset-2">
                        <img src="https://maxcdn.icons8.com/Color/PNG/512/Food/rice_bowl-512.png" alt="Mountain View" style="width:304px;height:228px;">
                        <h2 class="brand-heading">ESIE_<font color="#598bdb">EATS</font></h2>
                        <p >Prononcé EASY_EATS est un service proposé par les étudiants de l'ESIEA.
                           <br>Plus d'information prochainement.
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </header>
         <!-- About Section -->
         <section id="about" class="container content-section text-center">
            <div class="row">
               <div class="col-lg-8 col-lg-offset-2">
                  <h2>À propos d'ESIE_<font color="#598bdb">EATS</font></h2>
                  <p>Nous travaillons avec plusieurs centaines de d'internautes pour vous proposer les meilleurs plats. Vos cuisiniers préférés cuisinent vos  <a href="#recette">recettes</a> préférés, ESIE_<font color="#598bdb">EATS</font> vous les livre.</p>
                  <p>La rapidité dont vous avez besoin. Consultez notre sélection de recette livrés en 30 minutes en moyenne.</p>
                  <p>Le service que vous appréciez. Une fois vos plats sélectionnés, faites vous livrer vos plats préférés !</p>
               </div>
            </div>
         </section>
         <!--Just delete menu side bar -->
         <section id="recette" class="container content-section text-center">
            <div class="row">
               <div class="col-lg-8 col-lg-offset-2">
                  <h2>Dernières recettes</h2>
                  {% for advert in listAdverts %}
                  <p>
                     <a href="{{ path('esiea_platform_view', {'id': advert.id}) }}" style="text-align:center">
                     {{ advert.title }}
                     </a>
                     par {{ advert.author }},
                     le {{ advert.date|date('d/m/Y') }}
                  </p>
                  {% else %}
                  <p>Pas (encore !) d'annonces</p>
                  {% endfor %}
                  <!-- Pagination -->
                  <ul class="pagination">
                     {% for p in range(1, nbPages) %}
                     <li{% if p == page %} class="active"{% endif %}>
                     <a href="{{ path('esiea_platform_home', {'page': p}) }}">{{ p }}</a>
                     </li>
                     {% endfor %}
                  </ul>
               </div>
            </div>
         </section>
         <!-- Contact Section -->
         <section id="contact" class="container content-section text-center">
            <div class="row">
               <div class="col-lg-8 col-lg-offset-2">
                  <h2>Contactez-nous</h2>
                  <p>Vous êtes libre de nous envoyer un email et nous faire part de vos suggestions, ou juste pour faire un coucou !</p>
                  <p><a href="daniel.poinsignon@gmail.com">daniel.poinsignon@gmail.com</a>
                  </p>
                  <p><a href="teissier@et.esiea.fr">teissier@et.esiea.fr</a>
                  </p>
                  <ul class="list-inline banner-social-buttons">
                     <li>
                        <a href="https:" class="btn btn-default btn-lg"><span class="network-name">Github</span></a>
                     </li>
                     <li>
                        <a href="https:" class="btn btn-default btn-lg"> <span class="network-name">ESIEA</span></a>
                     </li>
                  </ul>
               </div>
            </div>
         </section>
         </div>
      </main>
      <footer>
         {# FOOTER etc. #}
         <p style="text-align:center"><font size ="2"> Daniel POINSIGNON & Cannelle TEISSIER © {{ 'now'|date('Y') }} for ESIEA - Manger, bouger.</font></p>
      </footer>
      {# JS ici #}
      {% block javascripts %}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
      <script src="{{ asset('bundles/esieaplatform/js/demo.js') }}"></script>
      {% endblock %}
   </body>
</html>
{% endspaceless %}